
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
padding: 20px 100px;
height: auto;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.class{
    grid-column:  1/2;
}

.social{
    grid-column: 2/3;
    display: flex;
    justify-content: space-around;
}

nav{
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1;
}

p{
    font-size: 2rem;
    font-weight: 500;
    color: #333;

}

.login{

    border: 1px solid #333;
    background-color: black;
    padding: 8px 20px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
nav>ul>li{
    color: black;
    font-size: 2rem;
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
}

main> .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

main> .btn-container > .btn {
    padding: 10px 20px;
    background-color: transparent;
    color: #020000;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
}

main> .btn-container > .btn:hover {
    /* add a background shadow */
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    /* change the background color */
    background-color: #020000;
    /* change the text color */
    color: #ffffff;
}

main> .btn-container > .btn:active {
    box-shadow: none;
}


main>.book-holder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px 100px;
}


#enter-book{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
}

form>.form-container>input{

    padding: 1rem;
}


/* can use to change elements if the dialog panel is clicked or opened */
/* dialog::backdrop{
    
} */
